
#root {
  padding: 5rem; 
  text-align: center;
  background-image: url('https://pic1.calcalist.co.il/picserver3/crop_images/2023/09/21/BJrpnTt1a/BJrpnTt1a_0_0_2443_1629_0_x-large.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; 
}

body{
  display: flex;
  width: 100%;
}
.description-edit-Btn-container{
  display:flex;
  align-items: center;
  height: 100%;
  width: 100%; 
  justify-content: space-around;
}

.chooseDeleteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.buttonContainer{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

 img {
  z-index: 1;
  display: block;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}












.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

div[class*="ol-zoom"]{
  pointer-events: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

div[class*="ol-zoom"] button{
  margin-top: 5px;
}

div[class*="ol-rotate"]{
  pointer-events: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 100px;
}

div[class*="ol-control ol-uncollapsible"]{
  pointer-events: auto;
  display: flex;
  margin: 5px;
  margin-top: 100px;
}
